<!DOCTYPE html>
<html>
<div class="Assessments" style="width: 1920px; height: 1080px; position: relative; background: white">
  <div class="Rectangle15" style="width: 1920px; height: 131px; left: 0px; top: 0px; position: absolute; background: white"></div>
  <div class="BasicUser" style="width: 83px; height: 80px; padding-left: 3.46px; padding-right: 3.46px; padding-top: 3.33px; padding-bottom: 3.33px; left: 1799px; top: 21px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
    <img class="Icon" style="width: 76.08px; height: 73.33px" src="https://via.placeholder.com/76x73" />
  </div>
  <div class="Assessments" style="width: 417px; height: 70px; left: 14px; top: 24px; position: absolute; text-align: center; color: rgba(95.19, 146.82, 35.60, 0.87); font-size: 50px; font-family: Paytone One; font-weight: 400; line-height: 86px; word-wrap: break-word">Assessments</div>
  <div class="Rectangle16" style="width: 1920px; height: 949px; left: 0px; top: 131px; position: absolute; background: rgba(158.15, 193.57, 117.27, 0.87)"></div>
  <div class="Rectangle8" style="width: 1116px; height: 310px; left: 431px; top: 273px; position: absolute; background: #C4C4C4; border-radius: 100px"></div>
  <div class="Rectangle19" style="width: 1116px; height: 310px; left: 431px; top: 695px; position: absolute; background: #C4C4C4; border-radius: 100px"></div>
  
  <div class="Rectangle18" style="width: 175px; height: 73px; left: 1354px; top: 384px; position: absolute; background: #719E3D; border-radius: 300px"></div>
  <div class="Rectangle20" style="width: 175px; height: 73px; left: 1354px; top: 844px; position: absolute; background: #719E3D; border-radius: 300px"></div>
    
  <div class="PersonalityTest" style="width: 553px; height: 34px; left: 509px; top: 336px; position: absolute; color: white; font-size: 50px; font-family: Nokora; font-weight: 700; line-height: 28px; word-wrap: break-word">
      <p>Personality test</p>
    </div>
    <div class="Begin" style="left: 1354px; top: 393px; position: absolute; color: white; font-size: 35px; font-family: Paytone One; font-weight: 400; word-wrap: break-word">
     <p><a href="{% url 'personality' %}" style="font-weight: bold; color: #145D13;">Begin</a></p>
    </div>
    
    <div class="ApititudeTest" style="width: 484px; height: 39px; left: 509px; top: 757px; position: absolute; color: white; font-size: 50px; font-family: Nokora; font-weight: 700; line-height: 28px; word-wrap: break-word">
    <p>Apititude test</p>
    </div>
    <div class="Begin" style="left: 1354px; top: 853px; position: absolute; color: white; font-size: 35px; font-family: Paytone One; font-weight: 400; word-wrap: break-word">
    <p><a href="{% url 'aptitude' %}" style="font-weight: bold; color: #145D13;">Begin</a></p>
    </div>
  
    <div class="ThisTestAllowsUsToMatchYourPersonalityTraitsAndTypeToAGroupOfJobsAtWhichYouAreMoreLikelyToExcel" style="width: 801px; height: 97px; left: 509px; top: 388px; position: absolute; color: white; font-size: 40px; font-family: Nokora; font-weight: 400; line-height: 39px; word-wrap: break-word">
    <p>This test allows us to match your personality traits and type to a group of jobs at which you are more likely to excel.</p>
    </div>
    <div class="ThisTestAllowsUsToSuggestTheBestOccupationalChoicesBasedOnYourSkillsPersonalitiesValuesAndInterests" style="width: 801px; height: 110px; left: 509px; top: 814px; position: absolute; color: white; font-size: 40px; font-family: Nokora; font-weight: 400; line-height: 39px; word-wrap: break-word">
    <p>This test allows us to suggest the best occupational choices based on your skills, personalities, values and interests.</p>
    </div>
  
  <div class="Frame1" style="width: 100px; height: 100px; left: 1403px; top: 371px; position: absolute"></div>
</div>
</html>
