<!DOCTYPE html>
<html>
<div class="FirstTimeAssessment" style="width: 1920px; height: 1080px; position: relative; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
  
    <img class="Rectangle" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1920x1080" />
  <img class="Rectangle" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1920x1080" />
  <img class="Rectangle" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1920x1080" />
  <div class="Rectangle14" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute; background: rgba(32.92, 32.92, 32.92, 0.63)"></div>
  <div class="Rectangle8" style="width: 723px; height: 201px; left: 598px; top: 440px; position: absolute; background: #C4C4C4; border-radius: 100px"></div>
  <div class="Rectangle15" style="width: 723px; height: 201px; left: 598px; top: 713px; position: absolute; background: #C4C4C4; border-radius: 100px"></div>
  
  <div class="ChooseYourTest" style="left: 550px; top: 211px; position: absolute; text-align: center; color: white; font-size: 100px; font-family: Paytone One; font-weight: 400; line-height: 28px; word-wrap: break-word">Choose your test</div>
  <div class="NoteYouHaveToTakeBothInOrderToBeEvaluated" style="left: 346px; top: 339px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Nokora; font-weight: 400; line-height: 28px; word-wrap: break-word">Note: You have to take both in order to be evaluated</div>
  
  
    <div class="PersonalityTest" style="left: 763px; top: 472px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Nokora; font-weight: 700; line-height: 28px; word-wrap: break-word">
     <a href="{% url 'personality' %}" style="font-weight: bold; color: #145D13;"> 
        Personality test
    </a>
    </div>
    
    <div class="ApititudeTest" style="left: 787px; top: 745px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Nokora; font-weight: 700; line-height: 28px; word-wrap: break-word">
        <a href="{% url 'aptitude' %}" style="font-weight: bold; color: #145D13;">
            Apititude test
        </a>
    </div>
  <div class="ThisTestAllowsUsToMatchYourPersonalityTraitsAndTypeToAGroupOfJobsAtWhichYouAreMoreLikelyToExcel" style="width: 571px; height: 78px; left: 674px; top: 518px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Paytone One; font-weight: 400; line-height: 28px; word-wrap: break-word">
    <p>This test allows us to match your personality traits and type to a group of jobs at which you are more likely to excel.</p>
</div>
  <div class="ThisTestAllowsUsToSuggestTheBestOccupationalChoicesBasedOnYourSkillsPersonalitiesValuesAndInterests" style="width: 571px; height: 78px; left: 674px; top: 798px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Paytone One; font-weight: 400; line-height: 28px; word-wrap: break-word">
    <p>This test allows us to suggest the best occupational choices based on your skills, personalities, values and interests.</p>
</div>
</div>

</html>