<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="SignInPage" style="width: 1920px; height: 1080px; position: relative; background: white">
            <img class="Rectangle" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1920x1080" />
            <div class="Rectangle1" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute; background: rgba(45.67, 43.96, 43.96, 0.70)"></div>
            <div class="Rectangle2" style="width: 794px; height: 766px; left: 563px; top: 200px; position: absolute; background: #FAFAFA; border-radius: 100px"></div>
            <div class="PersonalInformation" style="left: 699px; top: 352px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 46px; word-wrap: break-word">Personal Information</div>
            <div class="Education" style="left: 699px; top: 719px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 46px; word-wrap: break-word">Education</div>
            <div class="CreateYourAccount" style="left: 769px; top: 284px; position: absolute; text-align: center; color: #145D13; font-size: 36px; font-family: Paytone One; font-weight: 400; line-height: 46px; word-wrap: break-word">Create your account</div>
            <div class="WelcomeTo" style="width: 794px; height: 101px; left: 563px; top: 221px; position: absolute; text-align: center; color: #145D13; font-size: 36px; font-family: Paytone One; font-weight: 400; line-height: 46px; word-wrap: break-word">welcome to<br/></div>
            <div class="Rectangle3" style="width: 501px; height: 78px; left: 699px; top: 398px; position: absolute; background: #D9D9D9; border: 1px #145D13 solid"></div>
            <div class="FirstName" style="left: 730px; top: 417px; position: absolute; text-align: center; color: #908F8F; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 46px; word-wrap: break-word">First name</div>
            <div class="Rectangle6" style="width: 501px; height: 78px; left: 699px; top: 765px; position: absolute; background: #D9D9D9; border: 1px #145D13 solid"></div>
            <div class="Grade" style="left: 730px; top: 787px; position: absolute; text-align: center; color: #908F8F; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 46px; word-wrap: break-word">Grade</div>
            <div class="Rectangle4" style="width: 501px; height: 78px; left: 699px; top: 515px; position: absolute; background: #D9D9D9; border: 1px #145D13 solid"></div>
            <div class="Rectangle7" style="width: 501px; height: 78px; left: 699px; top: 622px; position: absolute; background: #D9D9D9; border: 1px #145D13 solid"></div>
            <div class="Rectangle5" style="width: 197px; height: 76px; left: 851px; top: 873px; position: absolute; background: #A5C99C; border-radius: 100px; border: 1px #145D13 solid"></div>
            <div class="LastName" style="left: 730px; top: 530px; position: absolute; text-align: center; color: #908F8F; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 46px; word-wrap: break-word">Last name</div>
            <div class="EmailAddress" style="left: 730px; top: 638px; position: absolute; text-align: center; color: #908F8F; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 46px; word-wrap: break-word">Email address</div>
            <div class="CreateAccount" style="left: 879px; top: 895px; position: absolute; text-align: center; color: #145D13; font-size: 20px; font-family: Nokora; font-weight: 400; line-height: 32px; word-wrap: break-word">Create Account</div>
        </div>
    </body>

</html>