<!DOCTYPE html>
<html>
<div class="HomePage" style="width: 1920px; height: 1080px; position: relative; background: white">
  <div class="Rectangle13" style="width: 1822px; height: 1080px; left: 98px; top: 0px; position: absolute; background: linear-gradient(180deg, rgba(227, 164, 52, 0.85) 0%, rgba(92, 144, 32, 0.87) 100%)"></div>
  <div class="Rectangle6" style="width: 98px; height: 1085px; left: 0px; top: 0px; position: absolute; background: rgba(217, 217, 217, 0); border: 3px #145D13 solid"></div>
  <div class="BasicUser" style="width: 83px; height: 80px; padding-left: 3.46px; padding-right: 3.46px; padding-top: 3.33px; padding-bottom: 3.33px; left: 7px; top: 10px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
    <img class="Icon" style="width: 76.08px; height: 73.33px" src="https://via.placeholder.com/76x73" />
  </div>
  <div class="Rectangle8" style="width: 1681px; height: 372px; left: 170px; top: 65px; position: absolute; background: #D9D9D9; border-radius: 100px"></div>
  <div class="Rectangle11" style="width: 492px; height: 525px; left: 194px; top: 483px; position: absolute; background: #D9D9D9; border-radius: 100px"></div>
  <div class="Rectangle14" style="width: 492px; height: 525px; left: 768px; top: 483px; position: absolute; background: #D9D9D9; border-radius: 100px"></div>
  <div class="Rectangle15" style="width: 492px; height: 525px; left: 1341px; top: 483px; position: absolute; background: #D9D9D9; border-radius: 100px"></div>
  
    <div class="Ask Derick" style="width: 396px; height: 204px; left: 242px; top: 497px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Paytone One; font-weight: 400; line-height: 52px; word-wrap: break-word">
      <p><a href="http://localhost:3000/" style="text-decoration: none; margin: 20px;">Ask Derick</a></p>
     </div>

    <div class="CurrentTrendsInTheMarket" style="left: 229px; top: 65px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Paytone One; font-weight: 400; line-height: 86px; word-wrap: break-word">
     <p><a href="{% url 'currenttrends' %}" style="text-decoration: none; margin: 20px;">Current trends in the market</a></p>
    </div>

   <div class="CareerRoadmaps" style="width: 422px; height: 83px; left: 803px; top: 500px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Paytone One; font-weight: 400; line-height: 50px; word-wrap: break-word">
      <p><a href="{% url 'roadmappage' %}" style="text-decoration: none; margin: 20px;">Career roadmaps</a></p>
   </div>
    
    <div class="Assessments" style="left: 1430px; top: 497px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Paytone One; font-weight: 400; line-height: 86px; word-wrap: break-word">
     <p><a href="{% url 'assessments' %}" style="text-decoration: none; margin: 20px;">Assessments</a></p>
    </div>    

  <div class="VariousAtom" style="width: 83px; height: 80px; padding-left: 8.48px; padding-right: 8.48px; padding-top: 8.17px; padding-bottom: 8.17px; left: 7px; top: 1000px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
    <img class="Icon" style="width: 66.04px; height: 63.65px" src="https://via.placeholder.com/66x64" />
  </div>

  
</div>

</html>