<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
        <script src="https://cdn.tailwindcss.com"></script>

        <title> Personality Test | Learning App </title>
    </head>

    <body>
        <h1>Personality Test</h1>
        <h3>Please answer the following questions</h3>

        <div>
            <p>1. How do you usually make decisions?</p>

        </div>

        <div>
            <p>2. How do you prefer to spend your free time?</p>
        </div>

        <div>
            <p>3. How do you handle stress or pressure?</p>
        </div>

        <div>
            <p>4. What type of environment do you work best in?</p>
        </div>

        <div>
            <p>5. How do you approach new challenges?</p>
        </div>

        <div>
            <p>6. Which best describes your communication style? </p>
        </div>

        <div>
            <p>7. How do you prefer to learn new information?</p>
        </div>

        <div>
            <p>8. What motivates you more?</p>
        </div>

        <div>
            <p>9. How do you typically express your emotions?</p>
        </div>

        <div>
            <p>10. How do you handle conflict?</p>
        </div>

        <div>
            <p>11. What role do you often take in group settings?</p>
        </div>

        <div>
            <p>12. How do you approach planning for the future?</p>
        </div>

        <div>
            <p>13. Which best describes your attention to detail?</p>
        </div>

        <div>
            <p>14. What role do you often take in group settings?</p>
        </div>

        <div>
            <p>15. What role do you often take in group settings?</p>
        </div>



    </body>

</html>