<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <div class="SignInPage" style="width: 1920px; height: 1080px; position: relative; background: white">
            <img class="Rectangle" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1920x1080" />
            <div class="Rectangle1" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute; background: rgba(45.67, 43.96, 43.96, 0.70)"></div>
            <div class="Rectangle2" style="width: 665px; height: 716px; left: 627px; top: 200px; position: absolute; background: #FAFAFA; border-radius: 100px"></div>
            <div class="DonTHaveAnAccountCreateAccount" style="left: 829px; top: 821px; position: absolute; text-align: center"><span style="color: #145D13; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 32px; word-wrap: break-word">Don’t have an account?<br/></span><span style="color: #145D13; font-size: 24px; font-family: Nokora; font-weight: 700; line-height: 32px; word-wrap: break-word">Create Account</span></div>
            <div class="SignIn" style="left: 895px; top: 385px; position: absolute; text-align: center; color: #145D13; font-size: 36px; font-family: Paytone One; font-weight: 400; line-height: 46px; word-wrap: break-word">Sign in</div>
            <div class="WelcomeToLinga" style="width: 794px; height: 101px; left: 563px; top: 221px; position: absolute; text-align: center"><span style="color: #145D13; font-size: 36px; font-family: Paytone One; font-weight: 400; line-height: 46px; word-wrap: break-word">welcome to<br/></span><span style="color: #145D13; font-size: 64px; font-family: Paytone One; font-weight: 400; line-height: 63px; word-wrap: break-word">linga</span></div>
            <div class="Rectangle3" style="width: 578px; height: 86px; left: 671px; top: 454px; position: absolute; background: #D9D9D9; border: 1px #145D13 solid"></div>
            <div class="Username" style="left: 690px; top: 474px; position: absolute; text-align: center; color: #908F8F; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 46px; word-wrap: break-word">username</div>
            <div class="Rectangle4" style="width: 578px; height: 86px; left: 671px; top: 583px; position: absolute; background: #D9D9D9; border: 1px #145D13 solid"></div>
            <div class="Password" style="left: 692px; top: 603px; position: absolute; text-align: center; color: #908F8F; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 46px; word-wrap: break-word">password</div>
            <div class="Rectangle5" style="width: 176px; height: 68px; left: 872px; top: 711px; position: absolute; background: #A5C99C; border-radius: 100px; border: 1px #145D13 solid"></div>
            <div class="Confirm" style="left: 914px; top: 729px; position: absolute; text-align: center; color: #145D13; font-size: 24px; font-family: Nokora; font-weight: 400; line-height: 32px; word-wrap: break-word">Confirm</div>
          </div>
    </body>


</html>